.advantages {
  padding: 32px 18px;
  width: 320px;
  box-sizing: border-box;
}

.advantages__annotation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.advantages__list {
  .list-reset;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.advantages__subtitle {
  color: @color-second;
}

.advantages__item--blue-background {
  background-color: @color-bg;
  color: @color-second;
}

.advantages__item--grey-background {
  background-color: @color-bg-grey;
}

.advatages__service {
  background-color: @color-second;
}
