.advantages {
  padding: 32px 18px;
  box-sizing: border-box;
}

.advantages__annotation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 32px 0 16px;

  @media (min-width:@tablet-width) {
    padding: 47px 124px 55px;
  }
}

.advantages__annotation-subtitle {
  margin: 0 0 35px;
}

.advantages__annotation-description {
  margin: 0;
}

.advantages__list {
  .list-reset;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.advantages__subtitle {
  color: @color-second;
}

.advantages__item--blue-background {
  background-color: @color-bg;
  color: @color-second;
}

.advantages__item--grey-background {
  background-color: @color-bg-grey;
}

.advatages__service {
  background-color: @color-second;
}
