.button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @font-family-base;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @color-second;
  background-color: @color-bg;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
}
