.control-mark {
  position: absolute;
  bottom: -10px;
  left: -7px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: @color-bg-input;
}

/* stylelint-disable selector-combinator-space-before, selector-combinator-space-after */
.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  width: 16px;
  height: 16px;
  left: calc(50% - 16px / 2 + 0px);
  top: calc(50% - 16px / 2);
  background-color: @color-base;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 14px;
  width: 22px;
  height: 20px;
  background: url("../../img/mobile/form/checkbox-tick.svg") no-repeat;
}
