.feedback-form__textarea {
  width: 280px;
  min-height: 150px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @color-bg-input;
  color: @color-title;
  opacity: 0.3;
  resize: none;
  border: none;
  box-sizing: border-box;
}
