.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px;
  flex-shrink: 0;
}

.footer__hashtag {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-title;
  text-transform: uppercase;
}

.footer__social {
  margin-bottom: 30px;
}
