.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px;
  flex-shrink: 0;

  @media (min-width:@tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 113px;
    padding: 36px 60px;
  }

  @media (min-width:@desktop-width) {
    padding: 36px 120px;
    gap: 270px;
  }
}

.footer__hashtag {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-title;
  text-transform: uppercase;

  @media (min-width:@tablet-width) {
    margin: 0;
  }
}


.footer__social {
  margin-bottom: 30px;

  @media (min-width:@tablet-width) {
    margin: 0;
  }
}
