.hero-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 157px;
  background: @color-title-active url("../img/mobile/catalog/hero-catalog-mobile.jpg") bottom/100% auto no-repeat;
}
