.impression__item {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-title;
  min-height: 46px;

  @media (min-width: @tablet-width) {
    min-width: 280px;
    max-width: 280px;
  }

  &--third {
    @media (min-width: @desktop-width) {
      min-width: 238px;
    }
  }
}

.impression__control {
  position: relative;
  display: block;
  padding-left: 52px;
}

.impression__control:hover .control-mark {
  background-color: @color-bg-disabled;
}

.impression__control:active .control-mark {
  background-color: @color-label-active;
}
