.label__span {
  text-transform: uppercase;
  margin: 0 0 0 18px;
}

.label__input {
  position: relative;
  margin-bottom: 16px;
  padding: 18px 70px 18px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: @color-title;
  background-color: @color-bg-input;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    opacity: 0.3;
    font-family: @font-family-base;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}

.label__input[type="tel"]::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  right: 0;
  background: url("../img/form/phone-icon.svg");
}
