.page {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-base;
  color: @color-base;
  background-color: @color-second;
  font-style: normal;

  @media (min-width: @desktop-width) {
    background-color: @color-bg-input;

  }

  .page__body {
    margin: 0 auto;
    min-height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: @color-second;

    @media (min-width: @mobile-width-only) {
      width: 768px;
    }

    @media (min-width: @desktop-width) {
      min-width: 1200px;
      margin: 0 40px;
      filter: drop-shadow(0 5px 15px rgba(0, 1, 1, 0.2));
    }
  }
}
