.photo__wrapper {
  padding: 23px 0 15px;
  border-top: 1px solid @color-bg-disabled;
}

.photo__item {
  width: 280px;
  margin: 0 auto;
  min-height: 385px;
}

.photo__name {
  margin: 10px 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: @color-title;
}

.photo__author {
  margin: 2px auto 16px;
}

.photo__favorite-value {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: @color-title;
}
