.photo {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__item {
  padding: 23px 0 15px;
  border-top: 1px solid @color-bg-disabled;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
    background: @color-bg-input;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      grid-column: 1/3;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1/4;
    }
  }

  &--second-place {
    @media (min-width: @tablet-width) {
      grid-column: 1/2;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1/2;
    }
  }

  &--third-place {
    @media (min-width: @tablet-width) {
      grid-column: 2/3;
      background-color: @color-bg-third-image;
    }

    @media (min-width: @desktop-width) {
      grid-column: 2/3;
    }
  }

  &--fourth-place {
    @media (min-width: @tablet-width) {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    @media (min-width: @desktop-width) {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
}

.photo__wrapper {
  width: 280px;
  margin: 0 auto;
  min-height: 385px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    width: 324px;
    min-height: 347px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    min-height: 267px;
    grid-template-rows: 2fr 1fr;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4fr 1fr;
      width: 648px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      min-height: 400px;
    }
  }
}

.photo__link {
  object-fit: cover;
  width: 100%;
  display: block;

  @media (min-width: @tablet-width) {
    height: 267px;
    grid-column: 1/5;
    grid-row: 1/4;
  }

  @media (min-width: @desktop-width) {
    height: 267px;
    grid-column: 1/5;
    grid-row: 1/4;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      min-height: 400px;
      grid-column: 1/3;
      grid-row: 1/4;
    }

    @media (min-width: @desktop-width) {
      grid-row: 1/11;
    }
  }
}

.photo__image {
  object-fit: cover;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 267px;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      min-height: 400px;
    }
  }
}

.photo__annotation {
  @media (min-width: @tablet-width) {
    grid-column: 1/5;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  @media (min-width: @desktop-width) {
    background: rgba(0, 0, 0, 0.3);
    grid-column: 1/5;
    grid-row: 3/4;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      grid-row: 5/6;
    }
  }
}

.photo__name {
  margin: 10px 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: @color-title;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 22px 0 0 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 15px 0 0 25px;
    color: @color-second;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      grid-column: 1/2;
      grid-row: 9/10;
      margin: 22px 0 0 20px;
    }

    @media (min-width: @desktop-width) {
      margin: 22px 0 0 21px;
    }
  }
}

.photo__author {
  margin: 2px auto 12px;

  @media (min-width: @tablet-width) {
    margin: 0 0 16px 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    color: @color-second;
    margin: 2px 0 16px 25px;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      grid-column: 1/2;
      grid-row: 10/11;
    }

    @media (min-width: @desktop-width) {
      margin: 2px 0 16px 21px;
    }
  }
}

.photo__favorite-link {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: end;
  grid-column: 2/3;
  grid-row: 1/3;
  margin: 0 20px 25px 0;
  color: @color-title;
  background: transparent;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-base;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    padding: 7px 0;
    box-sizing: border-box;
    margin: 20px 20px 20px 0;
  }

  @media (min-width: @desktop-width) {
    color: @color-second;
  }

  &--first-place {
    @media (min-width: @tablet-width) {
      grid-column: 2/3;
      grid-row: 9/11;
      margin: 28px 20px 27px 0;
      width: 65px;
      padding: 0;
      justify-self: right;
    }
  }

  svg {
    opacity: 0.3;

    @media (min-width: @desktop-width) {
      opacity: 1;
    }
  }

  &:hover {
    color: @color-bg-hover;
  }

  &:active {
    color: @color-bg-active;
  }
}

.photo__favorite-value {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: @color-title;
  padding-left: 14px;

  @media (min-width: @tablet-width) {
    padding-left: 9px;
  }

  @media (min-width: @desktop-width) {
    color: @color-second;
  }
}
