.photo__item {
  padding: 24px 20px 25px;
}

.photo__name {
  font-weight: 700;
  text-transform: uppercase;
  color: @color-title;
}

.photo__favorite-value {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: @color-title;
}
