.search {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search__wrapper {
  box-sizing: border-box;
  margin: 20px auto 29px;
  padding: 20px;

  @media (min-width: @tablet-width) {
    margin: 20px auto 35px;
  }

  @media (min-width: @desktop-width) {
    margin: 20px auto 35px;
  }
}

.search__title {
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 458px;
    font-size: 30px;
    margin: 0 auto 33px;
  }
}

.search__description {
  margin: 0 auto 34px;
  max-width: 262px;

  @media (min-width: @tablet-width) {
    max-width: 458px;
    margin: 0 auto 44px;
  }
}

.search__button {
  max-width: 100%;
  min-width: 284px;
  margin: 0 auto;
  padding: 17px 29px;

  @media (min-width: @tablet-width) {
    padding: 14px 61px 17px;
    margin: 0 auto;
    min-width: 458px;
    max-width: 60%;
  }
}

.search__map {
  width: 100%;
  object-fit: cover;
  display: block;
}

.search__br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
