.search {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search__wrapper {
  margin: 40px auto 49px;

  @media (min-width: @tablet-width) {
    margin: 60px auto 55px;
  }

  @media (min-width: @desktop-width) {
    margin: 60px auto 65px;
  }
}

.search__title {
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 0 auto 33px;
  }
}

.search__description {
  margin: 0 auto 34px;
  max-width: 262px;

  @media (min-width: @tablet-width) {
    max-width: 458px;
    margin: 0 auto 48px;
  }
}

.search__button {
  min-width: 284px;
  max-width: 89%;
  padding: 17px 49px;

  @media (min-width: @tablet-width) {
    padding: 14px 61px 17px;
    min-width: 458px;
    max-width: 60%;
  }
}

.search__map {
  width: 100%;
  object-fit: cover;
  display: block;
}
