.site {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: @color-second;
  }

  &::before {
    content: "";
    grid-column: 3/4;
    grid-row: 1/3;
  }
}

.site__item {
  position: relative;
  width: 100%;
  min-height: 56px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: @mobile-width-only) {
    &:last-child::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  @media (min-width: @mobile-width) {
    &:hover {
      background-color: @color-bg-hover;

      .main-nav__toggle {
        background-color: @color-bg-hover;
      }
    }

    &:active {
      background-color: @color-bg-active;
    }

    &:disabled {
      color: @color-bg-disabled;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;

    &:hover {
      background-color: @color-second;
    }

    &:nth-of-type(1) {
      grid-column: 1/2;
    }

    &:nth-of-type(2) {
      grid-column: 2/3;
    }

    &:nth-of-type(3) {
      grid-column: 4/5;
    }

    &:nth-of-type(4) {
      grid-column: 5/6;
    }
  }
}

.site__item-link {
  position: relative;
  display: block;
  text-align: center;
  padding: 17px 77px 12px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-second;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @mobile-width) {
    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: @color-title;
    padding: 17px 22px 18px;

    &--current {
      color: @color-title-active;
    }

    &:hover {
      color: @color-bg;
    }

    &:active {
      color: @color-title-active;
    }

    &:disabled {
      color: @color-bg-disabled;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 14px;
    line-height: 21px;
    color: @color-title;
    padding: 17px 68px 18px;

    &--current {
      color: @color-title-active;
    }

    &:hover {
      color: @color-bg;
    }

    &:active {
      color: @color-title-active;
    }

    &:disabled {
      color: @color-bg-disabled;
    }
  }
}
