.site__item-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: @color-title;

  &--current {
    color: @color-title-active;
  }

  &:hover {
    color: @color-bg;
  }

  &:active {
    color: @color-title-active;
  }

  &:disabled {
    color: @color-bg-disabled;
  }
}
