@color-base: #333333;
@color-title: #000000;
@color-title-active: #766357;
@color-second: #ffffff;
@color-bg: #81b3d2;
@color-bg-hover: #669ec0;
@color-bg-active: #5496bd;
@color-bg-disabled: #e5e5e5;
@font-family-base: "PT Sans", "Arial", sans-serif;
@font-size-base: 14px;
@line-height-base: 21px;
@font-weight-base: 400;
